
<div class="card">
  <div class="card-body">
    <table class="table ">
      <thead class="bg-dark text-light">
        <tr>
          <td>Company Code</td>
          <td>Stock Code</td>
          <td>Current Price</td>
          <td>Date</td>
          <td>Time</td>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let stock of stocks">
          <td> {{stock.companyCode}}</td>
          <td> {{stock.stockCode}}</td>
          <td> {{stock.currentPrice}}</td>
          <td> {{stock.date | date}}</td>
          <td> {{stock.time}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="container">
      <div class="row">
        <button class="btn btn-outline-success btn-block" (click)= "onAddOneStock()">Add One Stock</button>
      </div>
    </div>
    <div *ngIf ="showAddForm">
      <form>
        <div class="form-group">
          <label>Company Name</label>
          <select class="form-control" type="text" name="CompanyName" [(ngModel)]="addCompanyName">
            <option *ngFor="let company of this.registeredCompanies"> {{company.companyName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Company Code</label>
          <input class="form-control" type="text" name="companyCode" [(ngModel)]="newStock.companyCode">
        </div>
        <div class="form-group">
          <label>Stock Code</label>
          <select class="form-control" type="text" name="stockCode" [(ngModel)]="newStock.stockCode">
            <option > {{this.stockCode}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Price Per Share</label>
          <input class="form-control" type="text" name="pricePerShare" [(ngModel)]="newStock.currentPrice">
        </div>
        <div class="form-group">
          <label>Date</label>
          <input class="form-control" placeholder ='YYYY-MM-dd' type="text" name="date" [(ngModel)]="newStock.date">
        </div>
        <div class="form-group">
          <label>Time</label>
          <input class="form-control" type="text"  placeholder="HH:mm:ss" name="time" [(ngModel)]="newStock.time">
        </div>
      </form>
      <button class="btn btn-success btn-block" (click)="addOneStock()"> Add </button>
    </div>
  </div>
</div>

