<div class="container mt-4 ml-3">
  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            Select Companies to Compare
          </h3>
          <form #compareForm="ngForm">
            <div class="form-group">
              <label>Company Name</label>
              <select required class="form-control" type="text" name="companyName" [(ngModel)]="compareInput.companyName">
                <option *ngFor="let company of companies">{{company.companyName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label >Start Date</label>
              <input class="form-control" type="text" name="startDate" placeholder="YYYY-MM-dd" [(ngModel)]="compareInput.startDate">
            </div>
            <div class="form-group">
              <label >End Date</label>
              <input class="form-control" type="text" name="startDate" placeholder="YYYY-MM-dd" [(ngModel)]="compareInput.endDate">
            </div>
            <button class="btn btn-primary btn-block" (click)="onAdd()" [disabled]="compareForm.form.invalid"> Add for Comparison </button>
            <button class="btn btn-primary btn-block" (click)="createChart()" [disabled]="activeCompanyList.length==0" > Create Chart </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Active Companies</h3>
          <div>
            <table class="table table-striped">
              <thead class="bg-dark text-light">
                <tr>
                 <td>Company</td>
                 <td>Remove</td>
                 </tr>
              </thead>
              <tbody>
                <tr *ngFor="let companyName of activeCompanyList">
                  <td>{{companyName}}</td>
                  <td><button class="btn btn-danger" (click)="removeCompany(companyName)">Remove</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <button (click)="printResponse()">Action</button>
[data]="this.dataSource"
-->

<div *ngIf="showChart">
  <app-show-chart ></app-show-chart>
  <button class="btn btn-danger btn-block" (click)="this.showChart =false">Close Chart</button>
</div>
