<app-admin-navbar></app-admin-navbar>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Company Services</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id ="navbarSupportedContent" class="collapse navbar-collapse ">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mr-5">
        <button class="nav-link btn btn-outline-primary" (click) = "onAdd()" >Add New Company</button>
      </li>
      <li class="nav-item ml-5">
        <input type = "text" placeholder="Search" [(ngModel)] ="companyName" class="form-control" (keyup) ="onChange()">
        <!-- <option class="list-group-item"> {{companyName}}</option> -->
        <ul class="list-group">
          <li *ngFor="let company of companyNameList" class="list-group-item" >
            <button class = "btn" (click)="getCompany(company.companyName)" >{{company.companyName}}</button>
          </li>
        </ul>
      </li>
      <li class="nav-item ml-2 mr-5">
        <button class="btn btn-outline-success " type="submit">Search</button>
      </li>
      <li class="nav-item ml-5">
        <button class="btn btn-outline-success " type="submit" (click) ="getAll()">All Companies</button>
      </li>
  </ul>
  </div>
</nav>

<!-- Add company -->
<div *ngIf ="showAddCompany" class="container my-3">
  <div class="text-center"><h2> Add Company</h2></div>
  <form #companyForm="ngForm">
    <div class="form-group">
      <label for="companyName">Company Name</label>
      <input required id="my-input" class="form-control" type="text" name="companyName" [(ngModel)] ="company.companyName">
    </div>
    <div class="form-group">
      <label >Company Details</label>
      <input class="form-control" type="text" name="companyDetails"[(ngModel)] ="company.companyDetails">
    </div>
    <div class="form-group">
      <label>Turnover</label>
      <input required class="form-control" type="text" name="turnover"[(ngModel)] ="company.turnover">
    </div>
    <div class="form-group">
      <label >Sector</label>
      <input required class="form-control" type="text" name="sector"[(ngModel)] ="company.sectorName">
    </div>
    <button class="btn btn-success btn-block" [disabled]="companyForm.form.invalid"(click) ="addCompany()"> Add Company </button>
  </form>
</div>

<div *ngIf ="companyRegistered" class="container text-center"
  style="color:green; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
   <h3> {{message}}</h3>
</div>

<!-- serched companies -->
<div *ngIf ="showSearched">
  <div *ngFor="let company of companyList">
    <app-show-company [company] = "company" [isAdmin]="this.isAdmin"></app-show-company>
  </div>
</div>





